@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*, body{
    font-family: 'Open Sans', sans-serif;
}
.app{
    position: relative;
}
.app-name{
    font-size: 30px;
    font-weight: bold;
}
.auth{
    position: relative;
    margin-top: 3rem;
    width: 26%;
}
.auth .form-control{
    height: 50px;
    outline: none !important;
    box-shadow: none !important;
}
.rest-container{
    width: 80%;
    margin: auto;
}
.view-restaurant{
    width: 60%;
}
.create-restaurant{
    width: 40%;
    margin-left: 2rem;
    padding-left: 2rem;
    border-left: 1px solid #f8f8f8;
}
.create-restaurant .title{
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}
.view-restaurant .display{
    margin-top: 2rem;
    width: 100%;
}