@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*, body{
    font-family: 'Open Sans', sans-serif;
}
.app{
    position: relative;
}
.app-name{
    font-size: 30px;
    font-weight: bold;
}
.auth{
    position: relative;
    margin-top: 3rem;
    width: 26%;
}
.auth .form-control{
    height: 50px;
    outline: none !important;
    box-shadow: none !important;
}